* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding-top: 60px; 
  background-image: url('https://www.justwatch.com/appassets/img/home/global-home-bg-comp.png');
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  height: 100vh; 
  margin: 0; 
  

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, #2f3640, #000000);

  color: white;
  padding: 15px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav h1 {
  font-size: 24px;
  cursor: pointer;
}

nav h1:hover {
  opacity: 0.6;
}

nav input {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

nav button {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

nav button:hover {
  background-color: #0056b3;
}

.movie-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly; 
  gap: 20px; 
  padding: 20px;
  max-width: 100%;
}


.movie-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 200px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.movie-card img {
  max-width: 100%;
  border-radius: 8px 8px 0 0; 
}

.movie-card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.movie-card p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.movie-card button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 90px;
  height: 35px;
}

.movie-card button:hover {
  background-color: #0056b3;
}
